@media only screen and (min-width: 480px) {
  .left-panel {
    height: 100vh;
    padding: 10px 0;
    border-right: 1px solid #e4ddddad;
    box-shadow: 2px -1px 2px -2px rgba(0, 0, 0, 0.14);
  }
}
.active {
  border-left: 2px solid blue !important;
  color: blue !important;
}
.right-panel {
  padding: 10px;
}
